{% extends "base.html" %} {% block body %}
{% if todo_lists %}
    <h1>{{ user_name }} さんのTODOリスト</h1>
    <table class="table">
        <thead>
            <tr>
                <th>完了</th>
                <th>やること</th>
                <th>更新日時</th>
            </tr>
        </thead>
        <tbody>
            {% for param in todo_lists %}
            <tr>
                <th>
                    <input type="checkbox" value="{{ param['id'] }}">
                </th>
                <th>{{ param['todo_detail'] }}</th>
                <th>{{ param['updated_at'] }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button id="done" class='btn btn-primary'>選択したリストを完了済みにする</button>
{% else %}
    <h1>TODOリストがありません</h1>
{% endif %}

<script>
    // 画面を開いたときにはボタンは非表示にする
    window.onload = function(){
        undisplayButton();    
    }

    $('#done').on("click", function() {
        // チェックボックスで選択した値を取得
        var checkedIds = $('input:checked').map(function(){
            $(this).prop('disabled', true);
            return $(this).val();
        }).get();
        var idToken = '{{ id_token }}';

        // リクエストパラメータを設定
        var params = {
            "ids": checkedIds,
        }
        console.log(checkedIds);

        // タスクを完了させるためにPOST
        axios
            .post("/update", params)
            .then(function(response) {
                alert('done');
                console.log(response);
                window.location.href = '/lists?id_token=' + idToken;
            })
            .catch(function (error) {
                alert("Error: " + error);
            });
    });

    $('input').change(function() {
        var checkedIds = $('input:checked').map(function(){
            return $(this).val();
        }).get();

        if (checkedIds.length === 0) {
            undisplayButton();
        } else {
            displayButton();
        }
    });

    function displayButton(){
        var doneButton = document.getElementById("done");
        doneButton.style.display = "block";
    }

    function undisplayButton() {
        var doneButton = document.getElementById("done");
        doneButton.style.display = "none";
    }
</script>

{% endblock %}
